:root{
    --clients-display: block;
    --calendar-display: block;
    --my-recipes-display: block;
    --settings-display: grid;
}
.calendar-container, .my_recipes-container, .settings-container{
    display: none;
}
.container{
    padding: 0 1rem;
    display: grid;
    grid-template-columns: 10% 1fr 10%;
    gap: 1rem;
    background-color: rgba(255,255,255,0.7);
    padding: 1rem;
    height: 70vh;
}
.sidebar{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    background-color: hsla(214, 95%, 50%, 60%);
}
.sidebar div{
    padding: 1rem;
    text-align: center;
    color: hsla(0, 100%, 0%, 0.7);
    font-size: large;
}
.sidebar div:hover{
    background-color: rgba(255,255,255,0.6);
    cursor: pointer;
    transition: 500ms;
}
.sidebar > div.active{
    background-color: rgba(255,255,255,0.6);
}
table{
        border-collapse: collapse;
        width: 100%;
        overflow: hidden;
}
thead tr{
            background-color: hsla(214, 60%, 60%,80%);
            text-align: left;
}
th, td{
    padding: 0.5rem;
}
tbody tr{
    border-bottom: 1px solid hsla(0, 0%, 50%, 0.5);
}
tbody tr.active-row{
    color:hsla(214, 75%, 20%,80%);
    font-weight: bold;
}
tbody tr:nth-of-type(even){
    background-color: hsla(0, 0%, 90%, 0.5);
}
.clients-container, .my_recipes-container{
    height: 100%;
    overflow-y: scroll;
    background-color: hsla(230, 100%, 65%, 50%);
    border-radius: 1rem;
}
.calendar-container{
    background-color: hsla(230, 100%, 65%, 50%);
    border-radius: 1rem;
    height: 100%;
}
.calendar-container .calendar{
    display: grid;
    grid-template-columns: repeat(7,auto);
}
.calendar-container .calendar div.current_day{
    color: red;
}
.calendar-container .calendar div{
    display: grid;
    place-items: center;
}
.calendar-container .calendar div.diff_days{
    opacity: 50%;
}
.personalize-btn{
            height: fit-content;
            width: fit-content;
            outline: none;
            border: none;
            font-weight: bold;
            background-color: #FFCF15;
            padding: 0.5rem;
            border-radius: 1rem;
            margin-left: 25%;
        }
.personalize-btn:hover{
    cursor: pointer;
}
.settings-container{
    height: 100%;
    background-color: hsla(230, 100%, 65%, 50%);
    border-radius: 1rem;
    grid-template-columns: repeat(4,auto);
}
.settings-container form{
    grid-column: 2/3;
}
.settings-container form label{
    display: block;
    margin-top: 1rem;
}
.settings-container form input[type="image"]{
    display: block;
}
.settings-container form button{
            outline: none;
            border: none;
            font-weight: bold;
            background-color: rgba(81, 108, 252,70%);
            padding: 0.5rem;
            border-radius: 100rem;
            cursor: pointer;
}
@media (max-width: 768px) {
    .container{
        height: 100vh;
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        max-width: 100%;
        overflow-x: scroll;
    }
}