.container{
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    padding: 0 1rem;
    height: 100%;
    .sidebar{
        display: flex;
        justify-content: space-around;
        border-radius: 1rem;
        background-color: hsla(214, 95%, 50%, 60%);
        & a{
            padding: 0.5rem 0;
            text-decoration: none;
            color: hsla(0, 100%, 0%, 0.7);
            font-size: large;
        }
    }
    & table{
        border-collapse: collapse;
        border-radius: 1rem;
        width: 100%;
        overflow: hidden;
        & thead tr{
            background-color: hsla(214, 60%, 60%,80%);
            text-align: left;
        }
        & th, td{
            padding: 0.5rem;
        }
        & tbody tr{
            border-bottom: 1px solid hsla(0, 0%, 50%, 0.5);
        }
        & tbody tr.active-row{
            color:hsla(214, 75%, 20%,80%);
            font-weight: bold;
        }
        & tbody tr:nth-of-type(even){
            background-color: hsla(0, 0%, 90%, 0.5);
        }
    }
    .table-wrapper{
        background-color: rgba(255,255,255,0.3);
        border-radius: 1rem;
    }
}