{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5e1f2a52bc.js" crossorigin="anonymous"></script>
    <script src="{% static "js/chat.js" %}" defer></script>
    {% block stylesheets %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>
<body>
<nav class="navbar">
    <a href="">Product</a>
    <a href="">Features</a>
    <a href="">Our dietitians</a>
    <a href="">FAQ</a>
    <a href="">Sign up</a>
</nav>
<div id="content">
    {% block content %}

    {% endblock %}
</div>
<div class="chat-wrapper">
    <div id="chat">
        <div class="chat-settings">
            <div class="option-dropdown">
                <div class="dropdown">
                    Adjust chat
                    <i class="fa-solid fa-angle-down"></i>
                </div>
                <div class="content">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                    Accusantium alias animi dolor dolores doloribus eos expedita fugit illum minima nihil non, odit
                    officia porro repellat repudiandae saepe sunt, velit veritatis.
                </div>
            </div>

        </div>
        <div class="conversations" id="conversations">
        </div>
        <div class="chat">
            <div class="custom-chat-log" id="chatLog">
            </div>

            <div class="message-form">
                <i class="fa-solid fa-file"></i>
                <i class="fa-regular fa-image"></i>
                <div class="message-input ">
                    <input type="text" class="form-control message-input" id="chatMessageInput"
                           placeholder="Enter your chat message">
                    <button class="btn btn-success" id="chatMessageSend" style="display: none;" type="button"></button>
                    <i class="fa-solid fa-face-smile"></i>
                </div>

            </div>
        </div>
    </div>
    <i class="fa-regular fa-message fa-2xl" id="chat-icon"></i>
</div>
{% if not user.is_authenticated %}
    <footer>
        <div>
            <p>
                Ready start your journey to better
            </p>
            <p>
                health and nutrition, Your body
            </p>
            <p>
                deserves?
            </p>
        </div>
        <div>
            <div>
                <p>
                    No account?
                </p>
                <p style="text-indent: 1rem;">
                    No problem
                </p>
            </div>
            <button class="register">REGISTER</button>
        </div>
    </footer>
{% endif %}
</body>
</html>