{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5e1f2a52bc.js" crossorigin="anonymous"></script>
    <script src="{% static "js/chat.js" %}" defer type="module"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@600;900&display=swap" rel="stylesheet">

    {% block stylesheets %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>
<body>
<nav class="navbar">
    <i class="fa-solid fa-bars" id="bars"></i>
    <div class="list-wrapper" id="list-wrapper">
        <ul>
            <li><a href="{% url 'panel:home' %}">Home</a></li>
            <li><a href="">Features</a></li>
            <li><a href="{% url 'panel:show_profile' %}">View your profile</a></li>
            <li><a href="">FAQ</a></li>
        </ul>
    </div>
    <div class="last">
        {% if user.is_authenticated %}
            <div class="chat-list" data-notification-count="0" data-chat-list>
                <i class="fa-regular fa-message fa-lg" id="chat-icon"></i>
                <div class="conversations d-none" id="conversations"></div>
            </div>
        {% endif %}
        <ul class="user-action" id="user-action">
            <a class="user-box">
                <i class="fa-regular fa-user fa-lg"></i>
                <div class="name">
                    {% if user.is_authenticated %}
                        {{ user.first_name }}
                        <span class="d-none" id="user_id">{{ user.id }}</span>
                    {% else %}
                        Guest
                    {% endif %}
                </div>
                <i class="fa-solid fa-angle-down fa-sm"></i>
            </a>
            <ul class="action-list d-none">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'panel:logout' %}">Wyloguj się</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'panel:login' %}">Zaloguj się</a>
                    </li>
                    <li>
                        <a href="{% url 'panel:registration' %}">Rejestracja</a>
                    </li>
                {% endif %}
            </ul>
        </ul>
    </div>
</nav>
<template data-chat-template>
    <div class="chat-wrapper" data-chat>
        <div class="chat">
            <div class="chat-name-wrapper">
                <div class="name-user-block">
                    <i class="fa-regular fa-user fa-xl"></i>
                    <div class="chat-name"></div>
                </div>
                <i class="fa-solid fa-xmark"></i>
            </div>
            <div data-chat-log class="custom-chat-log">
            </div>
            <div class="message-form">
                <div class="message-input">
                    <input type="text" placeholder="Enter your chat message here" class="chatMessageInput"
                           data-chat-message-input>
                </div>
                <button class="d-none" data-chat-message-send></button>
            </div>
        </div>
    </div>
</template>
<div id="content">
    {% block content %}

    {% endblock %}
</div>
{% if not user.is_authenticated %}
    <footer>
        <div>
            <p>
                Ready start your journey to better
            </p>
            <p>
                health and nutrition, Your body
            </p>
            <p>
                deserves?
            </p>
        </div>
        <div>
            <div>
                <p>
                    No account?
                </p>
                <p style="text-indent: 1rem;">
                    No problem
                </p>
            </div>
            <a href="{% url 'panel:registration' %}" class="register">REGISTER</a>
        </div>
    </footer>
{% endif %}
</body>
</html>