{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static "css/base.css" %}" rel="stylesheet">
    <script src="https://kit.fontawesome.com/5e1f2a52bc.js" crossorigin="anonymous"></script>
    <script src="{% static "js/chat.js" %}" defer></script>
    {% block stylesheets %}{% endblock %}
    {% block scripts %}{% endblock %}
</head>
<body>
<nav class="navbar">
    <i class="fa-solid fa-bars" id="bars"></i>
    <div class="list-wrapper" id="list-wrapper">
        <ul>
            <li><a href="">Product</a></li>
            <li><a href="">Features</a></li>
            <li><a href="">Our dietitians</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">Sign up</a></li>
        </ul>
    </div>
    <div class="last">
        {% if user.is_authenticated %}
            <div class="chat-list">
                <i class="fa-regular fa-message fa-lg" id="chat-icon"></i>
                <div class="conversations d-none" id="conversations"></div>
            </div>
        {% endif %}
        <ul class="user-action" id="user-action">
            <a class="user-box">
                <i class="fa-regular fa-user fa-lg"></i>
                <div class="name">
                    {% if user.is_authenticated %}
                        {{ user.first_name }}
                        <span class="d-none" id="user_id">{{ user.id }}</span>
                    {% else %}
                        Guest
                    {% endif %}
                </div>
                <i class="fa-solid fa-angle-down fa-sm"></i>
            </a>
            <ul class="action-list d-none">
                {% if user.is_authenticated %}
                    <li>
                        <a href="{% url 'panel:logout' %}">Wyloguj się</a>
                    </li>
                {% else %}
                    <li>
                        <a href="{% url 'panel:login' %}">Zaloguj się</a>
                    </li>
                    <li>
                        <a href="{% url 'panel:registration' %}">Rejestracja</a>
                    </li>
                {% endif %}
            </ul>
        </ul>
    </div>
</nav>
<div id="content">
    {% block content %}

    {% endblock %}
</div>
{% if not user.is_authenticated %}
    <footer>
        <div>
            <p>
                Ready start your journey to better
            </p>
            <p>
                health and nutrition, Your body
            </p>
            <p>
                deserves?
            </p>
        </div>
        <div>
            <div>
                <p>
                    No account?
                </p>
                <p style="text-indent: 1rem;">
                    No problem
                </p>
            </div>
            <button class="register">REGISTER</button>
        </div>
    </footer>
{% endif %}
</body>
</html>