{% extends 'base.html' %}
{% load static %}
{% block stylesheets %}
    <link href="{% static "css/dietitian_panel_base.css" %}" rel="stylesheet">
    {% block additional_stylesheets %}
    {% endblock %}
{% endblock %}
{% block scripts %}
    {% block additional_scripts %}
    {% endblock %}
{% endblock %}
{% block content %}
    <div class="container">
        <nav class="sidebar" data-sidebar>
            <a href="{% url 'panel:show_clients' %}" data-sidebar-link>Clients</a>
            <a href="{% url 'panel:show_recipes' %}" data-sidebar-link>Recipes</a>
            <a href="{% url 'panel:show_calendar' %}" data-sidebar-link>Calendar</a>
            <a href="{% url 'panel:edit_profile' %}" data-sidebar-link>Settings</a>
        </nav>
        {% block information %}
        {% endblock %}
    </div>
{% endblock %}