* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.d-none {
    display: none !important;
}

body {
    background: linear-gradient(#6ED1DC 0%, #4B68FF 100%) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
    min-height: 100dvh;
    min-height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
}

.navbar {
    background-color: #F2F2F4;
    position: sticky;
    top: 0;
    width: 100%;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 0.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
    z-index: 2;
}


.navbar a {
    text-decoration: none;
    color: black;
}

i.fa-bars {
    font-size: 1rem;
    display: none;
}

i.fa-bars::before {
    border-radius: 0 !important;
}

.list-wrapper ul {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    list-style: none;
    align-items: center;
    gap: 3vw;
}

.list-wrapper li {
    opacity: 70%;
}

.list-wrapper li:hover {
    opacity: 100%;
}

.list-wrapper {
    grid-column: 2/3;
}

.navbar .last {
    display: flex;
    gap: 0.2rem;
    justify-self: end;
    margin-right: 2rem;
}

.user-action {
    list-style: none;
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.user-box {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
}

.action-list {
    position: absolute;
    margin-top: 0.1rem;
    grid-row: 2/3;
    background-color: white;
    border-radius: 0.3rem;
    overflow: hidden;
    width: 7rem;
    list-style: none;
}

.action-list li {
    text-align: center;
    padding: 0.5rem 0;
    transition: 500ms;
}

.action-list li:hover {
    background-color: black;
}

.action-list li:hover a {
    color: white;
}

.chat-list {
    position: relative;
    display: grid;
    justify-items: center;
    margin-top: 0.5rem;
}

i.fa-message::before {
    position: relative;
}

i.fa-message:hover::before, i.fa-bars:hover::before {
    background-color: black;
    color: #F2F2F4;
    transition: 0.5s;
}

i.fa-message.active::before {
    background-color: black;
    color: white;
    transition: 0.5s;
}

i.fa-message.active:hover::before {
    background-color: white;
    color: black;
    transition: 0.5s;
}

.chat-list::after {
    content: attr(data-notification-count); /* Add the notification content here */
    border-radius: 50%;
    color: white;
    background: red;
    position: absolute;
    bottom: 1rem; /* Adjust the top position as needed */
    left: 1.3rem;
    width: 1rem; /* Adjust the width as needed */
    font-size: 0.8rem; /* Adjust the font size as needed */
    aspect-ratio: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chat-list[data-notification-count="0"]::after {
    display: none;
}

.chat-wrapper {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    align-items: end;
    z-index: 10;
    border: 1px solid black;
}

.chat-wrapper.active {
    display: flex;
    justify-content: end;
}

.conversations {
    margin-top: 0.1rem;
    height: 400px;
    min-width: 150px;
    background-color: #95A7EB;
    position: absolute;
    border-radius: 1rem;
    overflow: auto;
    grid-row: 2/3;
}

.conversation {
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.5rem;
    /*overflow: hidden;*/
    cursor: pointer;
    background-color: rgba(255, 255, 255, 20%);
    transition: 500ms;
}

.conversation.active, .conversation:hover {
    background-color: rgba(255, 255, 255, 40%);
}

.conversation i {
    font-size: 2rem;
}

.last-message {
    font-size: small;
}

.last-message.unread {
    font-weight: bold;
}

.chat-settings {
    height: 400px;
    width: 130px;
    background-color: hsl(0, 0%, 86%);
    border-radius: 1rem 0 0 1rem;
    overflow-x: hidden;
}

.dropdown {
    padding: 1rem 0.5rem;
    display: flex;
}

.dropdown:hover {
    background-color: #F6F6F6;
    transition: 0.5s;
    cursor: pointer;
}

.chat-settings .content {
    display: none;
    word-break: break-all;
}

.chat-settings .content.active {
    display: block;
}

.dropdown i, .dropdown i::before {
    margin-left: auto;
}

.chat {
    height: 400px;
    width: 100%;
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-radius: 0 1rem 1rem 0;
}

.chat-name-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 1rem 0.5rem;
}

.name-user-block {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.chat i.fa-xmark {
    cursor: pointer;
    justify-self: end;
}

.custom-chat-log {
    background-color: #82A0CC;
    height: 100%;
    overflow-y: auto;
    padding: 0 0.5rem;
}

.custom-chat-log .message {
    width: 60%;
    margin-top: 0.3rem;
    clear: both;
}

.message span {
    display: inline-block;
    padding: 0.5rem;
    background-color: #F6F6F6;
    border-radius: 1rem;
    word-break: break-word;
}

.message.left {
    float: left;
    text-align: left;
}

.message.right {
    float: right;
    text-align: right;
}

.chat .message-form {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 0.25rem;
}

.message-input {
    flex-grow: 1;
    text-align: end;
    background-color: hsl(0, 0%, 86%);
    padding: 0.25rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 0.2rem;
}

.chatMessageInput {
    width: 100%;
    padding: 0.25rem;
    border: 1px solid rgba(0, 0, 0, 50%);
    border-radius: 1rem;
    text-align: end;
    background-color: hsl(0, 0%, 86%);
}

i.fa-message::before, i.fa-bars::before {
    background-color: #F2F2F4;
    padding: 0.3rem;
    border-radius: 50%;
    border: 0.5px solid gray;
    cursor: pointer;
}

footer {
    border-radius: 0 1rem 0 0;
    background-color: rgba(255, 255, 255, 0.95);
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    width: 70%;
}

footer > * {
    padding: 2.5rem;
    font-weight: bold;
}

footer :nth-child(2) {
    display: grid;
    grid-template-columns: auto auto;
}

footer .register {
    height: fit-content;
    width: fit-content;
    outline: none;
    border: none;
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: #FFCF15;
    padding: 0.75rem;
    border-radius: 100rem;
    margin-left: 25%;
    cursor: pointer;
    transition: 500ms;
}

footer .register:hover {
    scale: 1.1;
}

@media (max-width: 768px) {
    i.fa-bars {
        display: block;
    }

    .navbar {
        align-items: start;
        grid-template-columns: auto auto;
    }

    .navbar .list-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: 500ms;
        grid-column: 1/-1;
        grid-row: 2/3;
    }

    .navbar .list-wrapper.active {
        grid-template-rows: 1fr;
    }


    .navbar .list-wrapper ul {
        grid-auto-flow: row;
        overflow: hidden;
        justify-content: start;
        gap: 1vh;
        margin-top: 1vh;
    }

    .conversation i {
        display: none;
    }

    .chat-wrapper {
        flex-direction: column;
        right: 0;
        bottom: 0;
    }

    .chat-settings {
        height: auto;
        width: 100%;
        border-radius: 0;
    }

    footer {
        flex-direction: column;
        width: 100%;
    }

    footer:nth-child(2) {
        grid-template-columns: auto;
    }

    footer:nth-child(2) .register {
        margin-left: 0;
    }
}

@media (max-width: 360px) {
    .chat-wrapper {
        width: 100%;
    }
}

@media (min-width: 1050px) {
    .list-wrapper ul {
        gap: 5vw;
    }
}

/*Settings*/
.long-input {
    background-color: white;
    resize: none;
    min-height: 7.4rem;
    border-radius: 0.5rem;
    min-width: 35vw;
    padding: 1rem 1rem 1rem 1rem;
    width: inherit

}

.input-group textarea:not(:placeholder-shown) + label {
    transform: translateY(-80%);
    padding: 0.4rem;
    background-color: white;
    resize: none;
    right: .5rem;
    border: .15rem solid rgb(0 0 0 / 100%);
    border-radius: 0.5rem 0.5rem 0 0;
    min-width: 35vw;
    width: 100%
}

.input-group label {
    position: relative;
    bottom: 14.4vh;
    right: .2rem;
    padding: 0.8rem;
    margin-left: 0.5rem;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}

.profile-settings-wrapper {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin: 2rem 2rem 0 2rem;
}

.profile-settings-wrapper .input-group {
    height: 10rem;
    width: 100%;
}

input[type="text"]:focus, textarea:focus {
    opacity: 100%;
}

.user-settings {
    grid-column: 2/3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.user-settings-section {
    display: flex;
    flex-flow: column;
    margin-bottom: 1rem;
    background-color: #ffffffa6;
    border-radius: 1em;
    width: fit-content;
}

.user-settings-section div {
    margin: .9em;
    text-align: center
}

.user-settings-section button {
    width: fit-content;
    margin: .4rem auto;
    padding: 0.5rem;
    border-radius: .5rem;
    background: black;
    color: white;
    cursor: pointer;
    opacity: 85%;
    transition: 500ms;
}

#profile-settings-btn {
    width: 10vw;
    margin: 0 auto;
    position:relative;
    bottom:1em
}