* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Nunito', sans-serif;
}

.d-none {
    display: none;
}

body {
    background: linear-gradient(#6ED1DC 0%, #4B68FF 100%) no-repeat center center fixed;
    -webkit-background-size: cover; /* For WebKit*/
    -moz-background-size: cover; /* Mozilla*/
    -o-background-size: cover; /* Opera*/
    background-size: cover; /* Generic*/
    min-height: 100dvh;
    min-height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
}

.navbar {
    background-color: #F2F2F4;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    padding: 0.5rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.3);
}


.navbar a {
    text-decoration: none;
    color: black;
}

i.fa-bars {
    font-size: 1rem;
    display: none;
}

i.fa-bars::before {
    border-radius: 0 !important;
}

.list-wrapper ul {
    display: grid;
    justify-content: center;
    grid-auto-flow: column;
    list-style: none;
    align-items: center;
    gap: 3vw;
}

.list-wrapper li:hover {
    scale: 1.2;
    transition: 0.5s;
}

.list-wrapper {
    grid-column: 2/3;
}

.navbar .last {
    display: flex;
    gap: 0.2rem;
    justify-self: end;
    margin-right: 2rem;
}

.user-action {
    list-style: none;
    position: relative;
    display: grid;
    grid-template-rows: repeat(2, auto);
}

.user-box {
    display: flex;
    align-items: center;
    gap: 0.2rem;
    cursor: pointer;
}

.action-list {
    position: absolute;
    margin-top: 0.1rem;
    grid-row: 2/3;
    background-color: white;
    border-radius: 0.3rem;
    overflow: hidden;
    width: 7rem;
    list-style: none;
}

.action-list li {
    text-align: center;
    padding: 0.5rem 0;
    transition: 500ms;
}

.action-list li:hover {
    background-color: black;
}

.action-list li:hover a {
    color: white;
}

.chat-list {
    position: relative;
    display: grid;
    justify-items: center;
    margin-top: 0.5rem;
}

footer {
    border-radius: 0 1rem 0 0;
    background-color: rgba(255, 255, 255, 0.95);
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    width: 70%;
}

.chat-wrapper {
    display: none;
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    border-radius: 1rem;
    overflow: hidden;
    align-items: end;
    z-index: 300;
}

.chat-wrapper.active {
    display: flex;
    justify-content: end;
}

.conversations {
    height: 400px;
    width: 200px;
    background-color: #95A7EB;
    position: absolute;
    border-radius: 1rem;
    overflow: hidden;
    z-index: 100;
    grid-row: 2/3;
}

.conversation {
    height: 4rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 20%);
    transition: 500ms;
}

.conversation.active, .conversation:hover {
    background-color: rgba(255, 255, 255, 40%);
}

.conversation i {
    font-size: 2rem;
}

.last-message {
    font-size: small;
}

.last-message.unread {
    font-weight: bold;
}

.chat-settings {
    height: 400px;
    width: 130px;
    background-color: hsl(0, 0%, 86%);
    border-radius: 1rem 0 0 1rem;
    overflow-x: hidden;
}

.dropdown {
    padding: 1rem 0.5rem;
    display: flex;
}

.dropdown:hover {
    background-color: #F6F6F6;
    transition: 0.5s;
    cursor: pointer;
}

.chat-settings .content {
    display: none;
    word-break: break-all;
}

.chat-settings .content.active {
    display: block;
}

.dropdown i, .dropdown i::before {
    margin-left: auto;
}

.chat {
    height: 400px;
    width: 300px;
    background-color: white;
    display: grid;
    grid-template-rows: auto 1fr auto;
    border-radius: 0 1rem 1rem 0;
}

.chat-name-wrapper {
    display: grid;
    grid-template-columns: repeat(2, auto);
    padding: 1rem 0.5rem;
}

.name-user-block {
    display: grid;
    grid-auto-flow: column;
    justify-content: start;
    align-items: center;
    gap: 0.5rem;
}

.chat i.fa-xmark {
    cursor: pointer;
    justify-self: end;
}

.custom-chat-log {
    background-color: #82A0CC;
    height: 100%;
    overflow-y: auto;
    padding: 0 0.5rem;
}

.message {
    width: 60%;
    margin-top: 0.3rem;
    clear: both;
}

.message span {
    display: inline-block;
    padding: 0.5rem;
    background-color: #F6F6F6;
    border-radius: 1rem;
    word-break: break-word;
}

.message.left {
    float: left;
    text-align: left;
}

.message.right {
    float: right;
    text-align: right;
}

.chat .message-form {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 0.25rem;
}

.message-input {
    flex-grow: 1;
    text-align: end;
    background-color: hsl(0, 0%, 86%);
    padding: 0.25rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 0.2rem;
}

.chatMessageInput {
    width: 100%;
    padding: 0.25rem;
    border-radius: 1rem;
    text-align: end;
    background-color: hsl(0, 0%, 86%);
}

i.fa-message::before, i.fa-bars::before {
    background-color: #F2F2F4;
    padding: 0.3rem;
    border-radius: 50%;
    border: 0.5px solid gray;
    cursor: pointer;
}

i.fa-message:hover::before, i.fa-bars:hover::before {
    background-color: black;
    color: #F2F2F4;
    transition: 0.5s;
}

i.fa-message.active::before {
    background-color: black;
    color: white;
    transition: 0.5s;
}

i.fa-message.active:hover::before {
    background-color: white;
    color: black;
    transition: 0.5s;
}

footer > * {
    padding: 2.5rem;
    font-weight: bold;
}

footer :nth-child(2) {
    display: grid;
    grid-template-columns: auto auto;
}

footer .register {
    height: fit-content;
    width: fit-content;
    outline: none;
    border: none;
    color: black;
    text-decoration: none;
    font-weight: bold;
    background-color: #FFCF15;
    padding: 0.75rem;
    border-radius: 100rem;
    margin-left: 25%;
    cursor: pointer;
    transition: 500ms;
}

footer .register:hover {
    scale: 1.2;
}

@media (max-width: 768px) {
    i.fa-bars {
        display: block;
    }

    .navbar {
        align-items: start;
    }

    .navbar .list-wrapper {
        display: grid;
        grid-template-rows: 0fr;
        transition: 500ms;
    }

    .navbar .list-wrapper.active {
        grid-template-rows: 1fr;
    }

    .navbar > .list-wrapper > ul {
        grid-auto-flow: row;
        justify-items: center;
        overflow: hidden;
        gap: 1vh;
    }

    .chat-wrapper {
        flex-direction: column;
        width: 300px;
        right: 0;
        bottom: 0;
    }

    .chat-settings {
        height: auto;
        width: 100%;
        border-radius: 0;
    }

    footer {
        flex-direction: column;
        width: 100%;
    }

    footer:nth-child(2) {
        grid-template-columns: auto;
    }

    footer:nth-child(2) .register {
        margin-left: 0;
    }
}

@media (min-width: 1050px) {
    .navbar > .list-wrapper > ul {
        gap: 5vw;
    }
}