*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    background-image: linear-gradient( #6ED1DC 0%, #4B68FF 100%);
    min-height: 100dvh;
    min-height: 100svh;
    display: grid;
    grid-template-rows: auto 1fr auto;
    gap: 1rem;
}
.navbar{
    background-color: #F2F2F4;
    display: flex;
    justify-content: space-around;
    position: sticky;
    top: 0;
    width: 100%;
    height: fit-content;
    z-index: 100;
}
.navbar a{
    text-decoration: none;
    padding: 0.5rem;
    color: black;
}
footer{
    border-radius: 0 1rem 0 0;
    background-color: rgba(255,255,255,0.95);
    margin-top: auto;
    display: flex;
    justify-content: space-around;
    width: 70%;
}
footer > *{
    padding: 2.5rem;
    font-weight: bold;
}
footer :nth-child(2){
    display: grid;
    grid-template-columns: auto auto;
    /* justify-content: space-around; */

}
footer :nth-child(2) .register{
    height: fit-content;
    width: fit-content;
    outline: none;
    border: none;
    font-weight: bold;
    background-color: #FFCF15;
    padding: 0.75rem;
    border-radius: 100rem;
    margin-left: 25%;
    cursor: pointer;
}
.chat-wrapper{
    position: fixed;
    bottom: 3rem;
    right: 3rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: end;
    z-index: 300;
}
#chat{
    display: none;
}
#chat.active{
    display: grid;
    grid-template-columns: 2fr 2fr 3fr;
}
#chat.conv-active .chat{
    overflow: unset;
}
.conversations{
    height: 400px;
    /*width: 200px;*/
    background-color: #95A7EB;
}
.conversations .conversation{
    height: 4rem;
    padding: 0.5rem;
    display: grid;
    grid-template-columns: auto 1fr;
    column-gap: 0.5rem;
    overflow: hidden;
    cursor: pointer;
    background-color: rgba(255,255,255, 20%);
    transition: 500ms;
}
.conversations .conversation.active{
    background-color: rgba(255,255,255, 40%);
}
.conversations .conversation:hover{
    background-color: rgba(255,255,255, 40%);
}
.conversations .conversation i{
    font-size: 2rem;
}
.conversations .conversation .last-message{
    font-size: small;
    white-space: nowrap;
}
.conversations .conversation .last-message.unread{
    font-weight: bold;
}
.chat-settings{
    height: 400px;
    /*width: 200px;*/
    background-color: hsl(0, 0%, 86%);
    border-radius: 1rem 0 0 1rem;
    overflow-x: hidden;
}
.chat-settings .dropdown{
    padding: 1rem 0.5rem;
    display: flex;
}
.chat-settings .dropdown:hover{
    background-color: #F6F6F6;
    transition: 0.5s;
    cursor: pointer;
}
.chat-settings .content{
    display: none;
}
.chat-settings .content.active{
    display: block;
}
.chat-settings .dropdown i, .chat-settings .dropdown i::before{
    margin-left: auto;
}
.chat{
    height: 400px;
    /*width: 300px;*/
    background-color: white;
    display: grid;
    grid-template-rows: 1fr auto;
    border-radius: 0 1rem 1rem 0;
    overflow: hidden;
    transition: overflow 500ms;

}
.chat .custom-chat-log{
    background-color: #82A0CC;
    height: 100%;
    overflow-y: scroll;
    padding: 0 0.5rem;
}
.chat .custom-chat-log > div{
    display: none;
}
.chat .custom-chat-log > div.active{
    display: block;
}
.chat .custom-chat-log > div > .message{
    width: 60%;
    margin-top: 0.3rem;
}
.chat .custom-chat-log > div > .message span{
    display: inline-block;
    padding: 0.5rem;
    background-color: #F6F6F6;
    border-radius: 1rem;
    /*max-width: 100%;*/
    word-break: break-word;
}
.chat .custom-chat-log > div > .message.left{
    clear: both;
    float: left;
    text-align: left;
}
.chat .custom-chat-log > div > .message.right{
    clear: both;
    float: right;
    text-align: right;
}
.chat .message-form{
    display: grid;
    grid-auto-flow: column;
    align-items: center;
    padding: 1rem;
    gap: 0.25rem;
}
.chat .message-form .message-input{
    flex-grow: 1;
    text-align: end;
    background-color: hsl(0, 0%, 86%);
    padding: 0.25rem;
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    gap: 0.2rem;
}
i.fa-message::before{
    background-color: white;
    padding: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
}
i.fa-message:hover::before{
    background-color: black;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}
i.fa-message.active::before{
    background-color: black;
    color: white;
    transition: 0.5s;
}
i.fa-message.active:hover::before{
    background-color: white;
    color: black;
    transition: 0.5s;
}
@media (max-width: 768px) {
    .navbar{
        flex-direction: column;
    }
    footer{
        flex-direction: column;
    }
    footer:nth-child(2){
        grid-template-columns: auto;
    }
    footer:nth-child(2) .register{
        margin-left: 0;
    }
}