.calendar-container {
    background-color: hsla(230, 100%, 65%, 50%);
    border-radius: 1rem 1rem 0 0;
    display: grid;
    grid-template-rows: auto 1fr;
    row-gap: 0.5rem;
    padding-top: 0.5rem;
}

.calendar-container header {
    display: flex;
    justify-content: start;
}

.button-container {
    width: 18ch;
    padding: .5rem .2rem .2rem;
}

.button-container button {
    border: none;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 700;
    width: 100%;
    cursor: pointer;
}

.arrows-wrapper i {
    font-weight: 900;
    vertical-align: top;
    font-size: 1.4rem;
    padding: 0.3rem;
    cursor: pointer;
}

.button-container:hover,
.arrows-wrapper i:hover {
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-template-rows: auto repeat(6, 1fr);
    animation-fill-mode: forwards;
    animation-duration: 500ms;
}

.calendar.from-up {
    animation-name: calendar_from_up_transition;
}

.calendar.from-down {
    animation-name: calendar_from_down_transition;
}

.calendar.different-form {
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(4, 1fr);
    overflow: hidden;
}

.month, .year {
    display: grid;
    place-items: center;
    height: 60%;
    aspect-ratio: 1;
    place-self: center;
}

.month:hover, .year:hover {
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 30%);
    cursor: pointer;
    transition: 500ms;
    scale: 1.2;

}

div.current_day {
    color: red;
}

.calendar .day, .calendar .diff_day {
    background-color: white;
    border: 1px solid gray;
    min-width: 100px;
    min-height: 75px;
}

.weekday {
    text-align: center;
    margin-right: 1em;
    padding: 0.2em;
}

.calendar .diff_day {
    opacity: 70%;
}

.calendar .appointment {
    margin: 2%;
    color: white;
    background-color: red;
    cursor: pointer;
    word-wrap: break-word;
}

.appointment.dragging {
    opacity: 70%;
}

.appointment .time {
    font-size: small;
}

.appointment .title, .appointment .duration {
    text-align: center;
}

.calendar .day:has(.appointment-count-container) {
    display: flex;
    flex-direction: column;
    position: relative;
}

.appointment-count-container {
    margin: auto;
}

.appointment-count-container .appointment-count {
    text-align: center;
    position: relative;
    bottom: 1ch;
    cursor: pointer;
}

.appointment-count-container .content {
    position: absolute;
    height: 10rem;
    overflow-y: scroll;
    background: white;
    inset: 0;
}

.appointment-dialog {
    top: 50%;
    left: 50%;
    translate: -50% -50%;
}

.appointment-dialog button[formmethod="dialog"] {
    outline: none;
    background: none;
    border: none;
    cursor: pointer;
}

.appointment-dialog input {
    background: gray;
}

.appointment-dialog::backdrop {
    background-color: rgba(0, 0, 0, 30%);
}

@keyframes calendar_from_up_transition {
    from {
        transform: translateY(-50%);
        opacity: 0;
        z-index: -1;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
        z-index: auto;
    }
}

@keyframes calendar_from_down_transition {
    from {
        transform: translateY(50%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 100%;
    }
}

@media (max-width: 768px) {
    .calendar-container {
        overflow-x: scroll;
    }

    .calendar.different-form {
        grid-template-columns: repeat(3, auto);
        grid-template-rows: repeat(4, 1fr);
    }
}

@media (max-width: 360px) {
    .calendar.different-form {
        grid-template-columns: repeat(2, auto);
        grid-template-rows: repeat(6, 1fr);
    }
}