.dietitian-heading, .recipe-heading, .recipe-heading, .appointment-form, .card, .body, .section, .appointments-heading {
    padding: 1rem;
    border-radius: 1rem;
}

.container {
    display: grid;
    margin: auto;
    gap: 0.5rem;
    padding: 0 4rem;
}

.dietitian-heading, .recipe-heading {
    background-color: rgba(255, 255, 255, 0.3);
    display: grid;
}

.dietitian-heading {
    position: relative;
    grid-template-columns: 40% 60%;
    align-items: start;
}

.recipe-heading {
    grid-template-columns: 60% 40%;
}

.name-img-wrapper {
    width: 100%;
}

.name-img-wrapper .name{
    margin: 1rem 0;
}

.name-img-wrapper img {
    border-radius: 1rem;
    border: 5px solid white;
    width: 100%;
}

.section .title, .name-img-wrapper .name {
    text-align: center;
    color: rgba(255, 255, 255, 0.8);
    font-size: x-large;
}

.section {
    border: 1px solid rgba(255, 255, 255, 0.5);
    height: 100%;
}


.section .body {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.7);
    text-align: center;
    margin-top: 1rem;
}

.appointments-heading {
    background-color: rgba(255, 255, 255, 0.7);
    display: grid;
    grid-template-columns: repeat(2, auto);
    justify-items: center;
}

.appointments-heading .appointment-card {
    background-color: rgba(169, 196, 255, 62%);
    padding: 1rem;
    border-radius: 1rem;
    max-width: 350px;
    width: 100%;
}

.appointment-card .title {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.8);
    border-radius: 100rem;
    padding: 0.5rem 0.5rem;
    text-align: center;
    font-size: large;
}

.appointment-card .body {
    background-color: rgba(255, 255, 255, 0.5);
    color: rgba(0, 0, 0, 0.7);
    margin-top: 1rem;
}

.appointment-card .body p {
    text-align: center;
    margin-top: 0.5rem;
}

.appointment-card .body .numbers {
    background-color: rgba(255, 255, 255, 0.5);
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.appointment-card .appointment-btn {
    background-color: rgba(177, 173, 234, 100%);
}

.appointment-btn {
    display: block;
    margin: auto;
    margin-top: 1rem;
    border-radius: 1000rem;
    padding: 0.5rem;
    border: none;
    font-weight: bold;
    font-size: medium;
}

.appointment-form .appointment-btn {
    background-color: rgba(81, 108, 252, 70%);
    margin-top: 0;
}

.appointment-form {
    background-color: rgba(255, 255, 255, 0.7);
    display: grid;
    grid-template-columns: repeat(3, auto);
    justify-content: space-around;
}

.appointment-form > * {
    margin-top: 1rem;
    margin-bottom: 1rem;
}

input[type="text"]{
    border-radius: 0.2rem;
    border: 1px solid rgba(0,0,0,0.5);
    opacity: 70%;
}

input[type="text"]:focus{
    opacity: 100%;
}

.appointment-btn:hover {
    cursor: pointer;
    scale: 1.1;
    transition: 500ms;
}

@media (max-width: 768px) {
    .container {
        gap: 2rem;
        padding: 0 1rem;
    }

    .container, .dietitian-heading, .appointments-heading, .appointment-form {
        grid-template-columns: auto;
    }


    .recipe-heading {
        display: flex;
        flex-direction: column;
    }

    .recipe-heading .name-img-wrapper{
        order: 1;
    }

    .recipe-heading :first-child{
        order: 2;
    }

    .recipe-heading :nth-child(3){
        order: 3;
    }

    .appointments-heading {
        gap: 1rem;
    }
}
@media (max-width: 360px) {
    .name-img-wrapper img{
        display: none;
    }
}