.clients-container{
    height: 100%;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
}
table{
    /*border-collapse: collapse;*/
    border-collapse: separate;
    border-spacing: 0 1rem;
    padding: 0 1rem 1rem;
    width: 100%;
    overflow: hidden;
}
tr :first-child{
    border-radius: .3rem 0 0 .3rem;
}
tr :last-child{
    border-radius: 0 .3rem .3rem 0;
}
thead tr{
    /*background-color: hsla(214, 60%, 60%,80%);*/
    background-color: rgba(164, 236, 255, 1);
    text-align: left;
}
th, td{
    padding: 0.5rem;
}
tbody tr{
    border-bottom: 1px solid hsla(0, 0%, 50%, 0.5);
    background-color: #E2E2EB;
}
tbody tr.active-row{
    color:hsla(214, 75%, 20%,80%);
    font-weight: bold;
}
/*tbody tr:nth-of-type(even){*/
/*    background-color: hsla(0, 0%, 90%, 0.5);*/
/*}*/
.header {
    display:flex;
}
.clients-container div{
    display:inline
}