.container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.sidebar a {
    padding: 1rem 3rem;
    text-align: center;
    color: hsla(0, 100%, 0%, 0.7);
    font-size: large;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: 500ms;
}

.sidebar > a.active {
    background-color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        max-width: 100%;
    }
}

.overview-container {
    display: grid;
    height: 500px;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 3vh 0 3vh 0
}

.overview-container > [class$="-wrapper"] {
    display:flex;
    flex-direction: column;
    background-color: lightgray;
    margin: .5rem;
    border-radius: 1rem;
}

.meetings-activity-wrapper {
    grid-column: 2 / 3;
}

.clients-activity-wrapper {
    grid-row: 1/ 3;
    background-color: aqua;
}

.overview-container p {
    font-size: 1.8rem;
    margin: .6em .3em .3em 1.2em;
}

h1 {
    margin: 1rem 0 0 .5rem;
    height: 10vh;
    font-size: 3em;
}
.clients-span {
    background-color: #4B68FF;
    height: 100%;
    margin:0 2.3rem 3rem 2.3rem;
}