.container {
    display: grid;
    grid-template-columns: auto 1fr;
    gap: 1rem;
    background-color: rgba(255, 255, 255, 0.7);
    padding: 1rem;
    height: 100%;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1rem;
    background: rgba(255, 255, 255, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    border: 1px solid rgba(255, 255, 255, 0.3);
    overflow: hidden;
}

.sidebar a {
    padding: 1rem 3rem;
    text-align: center;
    color: hsla(0, 100%, 0%, 0.7);
    font-size: large;
    text-decoration: none;
}

.sidebar a:hover {
    background-color: rgba(255, 255, 255, 0.6);
    cursor: pointer;
    transition: 500ms;
}

.sidebar > a.active {
    background-color: rgba(255, 255, 255, 0.6);
}

@media (max-width: 768px) {
    .container {
        grid-template-columns: auto;
        grid-template-rows: auto 1fr;
        max-width: 100%;
    }
}