.settings-container {
    height: 100%;
    background-color: hsla(214, 95%, 50%, 60%);
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto 1fr;
}

.settings-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-items: center;
    /* row-gap: 3rem; */
    height: 100%;
}

.settings-container form label {
    display: block;
}

.settings-container form button[type="submit"] {
    padding: 0.5rem;
    border-radius: 1rem;
    background: black;
    color: white;
    cursor: pointer;
    opacity: 85%;
    transition: 500ms;
}

.home-link {
    width: fit-content;
    padding: 0.5rem;
    border-radius: 1rem;
    background: black;
    color: white;
    text-decoration: none;
    cursor: pointer;
    opacity: 85%;
    transition: 500ms;
}

.home-link:hover, .settings-container form button[type="submit"]:hover {
    scale: 1.2;
    opacity: 100%;
}


input[type="text"], textarea {
    border-radius: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    opacity: 70%;
}

@media (max-width: 768px) {
    .settings-container {
        grid-template-columns: auto;
        /*display: flex;*/
        /*flex-direction: column;*/
    }

    .profile-settings-wrapper {
        width: 100%;
    }

    .input-group {
        width: 100%;
    }

    .user-settings {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .user-settings-section {
        width: 80%;
    }

    #image {
        width: 50%;
        padding-left: 2vw
    }
    .user-settings-section {
        margin-top: 2rem;
    }
}
