.container {
    display: grid;
    place-items: center;
    height: 100%;
}

.container .form {
    max-width: 500px;
    min-width: 250px;
    width: 40vw;
    border-radius: 1rem;
    padding: 1rem;
    background-color: white;
}

a {
    text-decoration: none;
}

label {
    display: block;
    margin: 0.5rem 0 0.05rem 0;
}

.form input {
    background-color: rgba(247, 247, 247, 0.99);
    border: 1px solid gray;
    border-radius: 0.3rem;
    display: block;
    line-height: 2;
    width: 100%;
}

input[type="checkbox"]{
    width: initial;
}

.form button, a.button {
    display: block;
    width: 80%;
    text-align: center;
    color: rgba(255, 255, 255, 0.85);
    background-color: rgba(0, 0, 0, 80%);
    padding: 0.5rem;
    border-radius: 100rem;
    margin: auto;
    margin-top: 0.5rem;
    font-size: large;
    cursor: pointer;
}

.form button:hover, a.button:hover {
    color: rgba(255, 255, 255, 100%);
    background-color: rgba(0, 0, 0, 90%);
    scale: 1.2;
    transition: 500ms;
}

ul.errorlist {
    list-style: none;
    font-size: small;
    color: rgba(255, 0, 0, 0.71);
}