/*Settings*/
.long-input {
    background-color: white;
    resize: none;
    min-height: 7.4rem;
    border-radius: 0.5rem;
    min-width: 35vw;
    padding: 1rem 1rem 1rem 1rem;
    width: inherit

}

.input-group textarea:not(:placeholder-shown) + label {
    transform: translateY(-2rem);
    padding: 0.4rem;
    background-color: white;
    resize: none;
    right: .5rem;
    border: .15rem solid rgb(0 0 0 / 100%);
    border-radius: 0.5rem 0.5rem 0 0;
    min-width: 35vw;
    width: 100%
}

.input-group label {
    position: relative;
    bottom: 7.6rem;
    right: .2rem;
    padding: 0.8rem;
    margin-left: 0.5rem;
    pointer-events: none;
    transition: all 0.3s ease;
    color: rgb(100, 100, 100);
}

.profile-settings-wrapper {
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    margin: 2rem 2rem 0 2rem;
}

.profile-settings-wrapper .input-group {
    height: 10rem;
    width: 100%;
}

input[type="text"]:focus, textarea:focus {
    opacity: 100%;
}

.user-settings {
    grid-column: 2/3;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.user-settings-section {
    display: flex;
    flex-flow: column;
    margin-bottom: 1rem;
    background-color: #ffffffa6;
    border-radius: 1em;
    width: fit-content;
}

.user-settings-section div {
    margin: .9em;
    text-align: center
}

.user-settings-section button {
    width: fit-content;
    margin: .4rem auto;
    padding: 0.5rem;
    border-radius: .5rem;
    background: black;
    color: white;
    cursor: pointer;
    opacity: 85%;
    transition: 500ms;
}

#profile-settings-btn {
    width: 10vw;
    margin: 0 auto;
    position:relative;
    bottom:1em
}
.settings-container {
    height: 100%;
    background-color: hsla(214, 95%, 50%, 60%);
    border-radius: 1rem;
    padding: 1rem;
    display: grid;
    grid-template-rows: auto 1fr;
}

.settings-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
    justify-items: center;
    /* row-gap: 3rem; */
    height: 100%;
}

.settings-container form label {
    display: block;
}

.settings-container form button[type="submit"] {
    padding: 0.5rem;
    border-radius: 1rem;
    background: black;
    color: white;
    cursor: pointer;
    opacity: 85%;
    transition: 500ms;
}

.home-link {
    width: fit-content;
    padding: 0.5rem;
    border-radius: 1rem;
    background: black;
    color: white;
    text-decoration: none;
    cursor: pointer;
    opacity: 85%;
    transition: 500ms;
}

.home-link:hover, .settings-container form button[type="submit"]:hover {
    scale: 1.2;
    opacity: 100%;
}


input[type="text"], textarea {
    border-radius: 0.2rem;
    border: 1px solid rgba(0, 0, 0, 0.5);
    opacity: 70%;
}

@media (max-width: 768px) {
    .settings-container {
        grid-template-columns: auto;
    }

    .profile-settings-wrapper {
        width: 100%;
    }

    .input-group {
        width: 100%;
    }

    .user-settings {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .user-settings-section {
        width: 80%;
    }

    #image {
        width: 50%;
        padding-left: 2vw
    }

    .user-settings-section {
        margin-top: 2rem;
    }
}
