{% extends 'dietitian_panel_base.html' %}
{% load static %}
{% block title %}Calendar{% endblock %}
{% block additional_stylesheets %}
    <link href="{% static "css/calendar.css" %}" rel="stylesheet">{% endblock %}
{% block additional_scripts %}
    <script src="{% static "js/calendar.js" %}"
            defer></script>
{% endblock %}
{% block information %}
    {% csrf_token %}
    <script>
        const csrfToken = "{{ csrf_token }}";
    </script>
    <div class="calendar-container" data-container>
        <header>
            <div id="selected_year" class="d-none">{{ selected_year }}</div>
            <div id="selected_month" class="d-none">{{ selected_month }}</div>
            <div class="button-container">
                <button class="month-button" id="month-button">{{ current_month }}-{{ current_year }}</button>
                <button class="year-button" id="year-button" style="display: none;">{{ current_year }}</button>
                <button class="ten-years-button" id="ten-years-button" style="display: none;">2020-2030</button>
            </div>
            <div class="arrows-wrapper">
                <i class="fa-solid fa-angle-up" id="arrow-up"></i>
                <i class="fa-solid fa-angle-down" id="arrow-down"></i>
            </div>
        </header>
        <div class="calendar from-up">
            {% for weekday in weekdays %}
                <div class="weekday">{{ weekday }}</div>
            {% endfor %}
            {% for day in prev_days %}
                <div class="diff_day" data-prev-day="{{ day }}">{{ day }}</div>
            {% endfor %}
            {% for day in days %}
                <div data-day="{{ day }}"
                     class="day{% if selected_year == current_date.year and selected_month == current_date.month and day == current_day_num %} current_day{% endif %}">
                    {{ day }}
                    {% for group in grouped_appointments %}
                        {% for appointment in group %}
                            {% if appointment.date.year == selected_year and appointment.date.month == selected_month and appointment.date.day == day %}
                                {% if group|length > 1 %}
                                    {% if forloop.first %}
                                        <div class="appointment-count" data-appointment-count="{{ group|length }}"
                                             data-value="{{ appointment.date|date:"Y-m-d" }}">
                                            Appointment count: {{ group|length }}
                                        </div>
                                    {% endif %}
                                {% elif group|length == 1 %}
                                    <div class="appointment" draggable="true"
                                         data-appointment="{{ appointment.date|date:"Y-m-d" }}" data-id="{{ appointment.id }}">
                                        <div class="time">
                                            {{ appointment.date|date:"H:i" }}
                                        </div>
                                        <div class="title">
                                            {{ appointment.title }}
                                        </div>
                                        <div class="duration">
                                            Duration: {{ appointment.event_duration }}
                                        </div>
                                    </div>
                                {% endif %}
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>
            {% endfor %}
            {% for day in next_days %}
                <div class="diff_day" data-next-day="{{ day }}">{{ day }}</div>
            {% endfor %}
        </div>
    </div>
    <template data-appointment-template>
        <div class="appointment" data-appointment draggable="true">
            <div class="time"></div>
            <div class="title"></div>
            <div class="duration"></div>
        </div>
    </template>
    <template data-dialog-form-template>
        <form class="d-none dialog-form">
            <div class="title"></div>
            <input type="text" name="title">
            <select name="duration">
                <option value="30:00">30:00</option>
                <option value="60:00">60:00</option>
            </select>
            <input type="time" name="time">
            <button data-dialog-form-button>SUBMIT</button>
        </form>
    </template>
    <dialog class="appointment-dialog" data-appointment-dialog>
        <form method="POST">
            <button formmethod="dialog" type="submit">
                <i class="fa-solid fa-xmark"></i>
            </button>
        </form>
        <div class="content">
            {% for group in grouped_appointments %}
                {% for appointment in group %}
                    <form class="d-none dialog-form" data-dialog-content="{{ appointment.date|date:"Y-m-d" }}">
                        <div class="title">{{ appointment.title }}</div>
                        <input type="text" name="title" value="{{ appointment.title }}">
                        <select name="duration">
                            <option value="30:00">30:00</option>
                            <option value="60:00">60:00</option>
                        </select>
                        <input type="time" value="{{ appointment.date|date:"H:i" }}">
                        <button data-dialog-form-button>SUBMIT</button>
                    </form>
                {% endfor %}
            {% endfor %}
        </div>
    </dialog>
{% endblock %}

