{% extends 'dietitian_panel_base.html' %}
{% load static %}
{% block title %}Clients{% endblock %}
{% block additional_stylesheets %}
    <link href="{% static "css/dietitian_clients.css" %}" rel="stylesheet">{% endblock %}
{% block additional_scripts %}
    <script src="{% static "js/client-search.js" %}" defer></script>
    <script src="{% static "js/clients.js" %}" defer type="module"></script>
{% endblock %}
{% block information %}
    <div class="clients-container">
        <table>
            <thead>
            <tr>
                <th>
                    <div class="search-wrapper">
                        <label for="search-name">Name</label>
                        <div class="input-wrapper">
                            <input id="search-client" type="text">
                            <i data-search-icon class="fa-solid fa-magnifying-glass fa-xs"></i>
                        </div>
                    </div>
                </th>
                <th>age</th>
                <th>active</th>
                <th>consistency</th>
                <th>expiration date</th>
            </tr>
            </thead>
            <tbody>
            {% for client in clients %}
                <tr data-client="{{ client }}">
                    <td>
                        {{ client }}
                        <div class="text-client-wrapper" data-text-client="{{ client.pk }}" data-name="{{ client }}">
                            Text
                            <i class="fa-solid fa-pen fa-xs"></i>
                        </div>
                    </td>
                    <td>agjadnkf</td>
                    <td>fsasf</td>
                    <td>fsaf</td>
                    <td>fasfa</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>


    </div>
{% endblock %}