{% extends 'dietitian_panel_base.html' %}
{% load static %}
{% block title %}Clients{% endblock %}
{% block additional_stylesheets %}<link href="{% static "css/dietitian_clients.css" %}" rel="stylesheet">{% endblock %}
{% block information %}
    <div class="clients-container">
        <table>
            <thead>
                <tr>
                    <th>name</th>
                    <th>age</th>
                    <th>active</th>
                    <th>consistency</th>
                    <th>expiration date</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr class="active-row">
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr class="active-row">
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr class="active-row">
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr class="active-row">
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr class="active-row">
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr class="active-row">
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr class="active-row">
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr class="active-row">
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr>
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>
                <tr class="active-row">
                    <td>Maciek</td>
                    <td>20</td>
                    <td>yes</td>
                    <td>100%</td>
                    <td>xxx</td>
                </tr>

            </tbody>
        </table>
    </div>
{% endblock %}
