{% extends 'dietitian_panel_base.html' %}
{% load static %}
{% block title %}Settings{% endblock %}
{% block additional_stylesheets %}
    <link href="{% static "css/dietitian_profile_edit.css" %}" rel="stylesheet">
{% endblock %}
{% block additional_scripts %}
    <script src="{% static "js/settings.js" %}" defer></script>

{% endblock %}
{% block information %}
    <div class="settings-container" data-container>
        <form method="POST" class="profile-settings-wrapper">
            {% csrf_token %}
            <div class="input-group">
                <textarea id="specialty" name="specialty" class="long-input" placeholder=" "></textarea>
                <label for="specialty">Specialty</label>
            </div>
            <div class="input-group">
                <textarea id="experience" name="experience" class="long-input" placeholder=" "></textarea>
                <label for="experience">Experience</label>
            </div>
            <div class="input-group">
                <textarea id="philosophy" name="philosophy" class="long-input" placeholder=" "></textarea>
                <label for="philosophy">Philosophy</label>
            </div>
            <div class="input-group">
                <textarea id="somemore" name="somemore" class="long-input" placeholder=" "></textarea>
                <label for="somemore">Some more</label>
            </div>
            <button type="submit" id="profile-settings-btn">SUBMIT</button>
        </form>
        <form class="user-settings">
            <section class="user-settings-section">
                 <div>
                    <label for="mail">Mail</label>
                    <input type="email" name="mail" id="mail" value="">
                </div>
                <div>
                    <label for="password">Password</label>
                    <input type="password" name="image" id="password" value="">
                </div>
                <div>
                    <label for="image">Image</label>
                    <input type="file" name="image" id="image" value="">
                </div>
                <button type="submit">SUBMIT</button>
            </section>

        </form>
    </div>
{% endblock %}