{% extends 'dietitian_panel_base.html' %}
{% load static %}
{% block title %}Recipes{% endblock %}
{% block additional_stylesheets %}<link href="{% static "css/dietitian_recipes.css" %}" rel="stylesheet">{% endblock %}
{% block information %}
    <div class="my_recipes-container">
        <table>
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Proteins</th>
                    <th>Carbs</th>
                    <th>Fats</th>
                    <th>Allergens</th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>lasagne</td>
                    <td>20g</td>
                    <td>45g</td>
                    <td>24g</td>
                    <td>xxx</td>
                    <td><button class="personalize-btn">Personalize</button></td>
                </tr>
                <tr>
                    <td>lasagne</td>
                    <td>20g</td>
                    <td>45g</td>
                    <td>24g</td>
                    <td>xxx</td>
                    <td><button class="personalize-btn">Personalize</button></td>
                </tr>
                <tr>
                    <td>lasagne</td>
                    <td>20g</td>
                    <td>45g</td>
                    <td>24g</td>
                    <td>xxx</td>
                    <td><button class="personalize-btn">Personalize</button></td>
                </tr>
                <tr>
                    <td>lasagne</td>
                    <td>20g</td>
                    <td>45g</td>
                    <td>24g</td>
                    <td>xxx</td>
                    <td><button class="personalize-btn">Personalize</button></td>
                </tr>
                <tr>
                    <td>lasagne</td>
                    <td>20g</td>
                    <td>45g</td>
                    <td>24g</td>
                    <td>xxx</td>
                    <td><button class="personalize-btn">Personalize</button></td>
                </tr>
                <tr>
                    <td>lasagne</td>
                    <td>20g</td>
                    <td>45g</td>
                    <td>24g</td>
                    <td>xxx</td>
                    <td><button class="personalize-btn">Personalize</button></td>
                </tr>
                <tr>
                    <td>lasagne</td>
                    <td>20g</td>
                    <td>45g</td>
                    <td>24g</td>
                    <td>xxx</td>
                    <td><button class="personalize-btn">Personalize</button></td>
                </tr>
                <tr>
                    <td>lasagne</td>
                    <td>20g</td>
                    <td>45g</td>
                    <td>24g</td>
                    <td>xxx</td>
                    <td><button class="personalize-btn">Personalize</button></td>
                </tr>
                <tr>
                    <td>lasagne</td>
                    <td>20g</td>
                    <td>45g</td>
                    <td>24g</td>
                    <td>xxx</td>
                    <td><button class="personalize-btn">Personalize</button></td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}
