{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block stylesheets %}<link href="{% static "css/landing_page.css" %}" rel="stylesheet">{% endblock %}
{% block scripts %}<script src={% static "js/carousel.js" %} defer></script>{% endblock %}
{% block content %}
    <div class="container">
        <div class="img-wrapper">
            <img src="../../static/images/jason-briscoe-KTrov7eujms-unsplash.jpg">
            <div class="text">Ready to lead a healthier lifestyle with ease?</div>
            <img src="../../static/images/360_F_167925514_0KaT2pug6QURGwhl44Y0H77JhrJGhLVY.jpg">
        </div>
        <div class="carousel-container">
            <div class="carousel">
                <button class="prev" data-carousel-button="prev"><i class="fa-solid fa-angle-left"></i></button>
                <button class="next" data-carousel-button="next"><i class="fa-solid fa-angle-right"></i></button>
                <div class="slide" data-active>
                    <img src="../../static/images/christina-wocintechchat-com-eF7HN40WbAQ-unsplash.jpg">
                </div>
                <div class="slide">
                    <img src="../../static/images/linkedin-sales-solutions-VKJt1EZHlWs-unsplash.jpg">
                </div>
                <div class="slide">
                    <img src="../../static/images/360_F_167925514_0KaT2pug6QURGwhl44Y0H77JhrJGhLVY.jpg">
                </div>
            </div>
        </div>
    </div>
{% endblock %}
