{% extends 'base.html' %}
{% load static %}
{% block title %}Register{% endblock %}
{% block stylesheets %}
    <link href="{% static "css/logout.css" %}" rel="stylesheet">{% endblock %}
{% block content %}
    <div class="container">
        <div class="form">
            <form method="post">
                {% csrf_token %}
                {{ form.as_div }}
                <button type="submit">Register</button>
            </form>
            {% if user.is_authenticated %}
                <a href="{% url 'panel:home' %}" class="button">Save changes</a>

            {% else %}
                <!-- Przycisk rejestracji jako klient -->
                <a href="{% url 'panel:registration' %}?is_client=True" class="button">Zarejestruj jako klient</a>

                <!-- Przycisk rejestracji jako dietetyk -->
                <a href="{% url 'panel:registration' %}?is_dietitian=True" class="button">Zarejestruj jako dietetyk</a>
            {% endif %}
        </div>
    </div>

{% endblock %}
